<html>
	<head>
	<meta charset="utf-8" /> 

		<title>Alle Serien</title>
			<link href='http://fonts.googleapis.com/css?family=Raleway:400,900,800,700,600,500,300,200,100' rel='stylesheet' type='text/css'>
		<style>
		body {
		font-family: 'Raleway', sans-serif;
		background-color: #e0eaf5;
		font-size:15px;
		}

		h3 {
		font-weight:700;
		}

		a {
		color:#468dc4;
		text-decoration:none;
		}

		.seriesbox {
		clear:both;
		margin-bottom:40px;
		padding:20px;
		background-color:#fff;
		}

		.description {
		min-height: 208px;
		}
		.seriesimage {
		float:left;
		padding-right:20px;
		}

		strong {
		font-weight:600;
		}
		</style>
	</head>
	<body>
		<h1>Alle Serien</h1>
		<div>
		<%
				for(var i=0; i < series.length; i++) {
					%>
					<div class="seriesbox">
					<div class="seriesimage"><img width="148" height="208" src="/cover/<%=series[i].id%>">
					</div>
					<div class="description">
					<h3><a href="#"><%= series[i].name %></a></h3>
					<strong>Genre:</strong> <%= series[i].genre %><br />
					<strong>Beschreibung:</strong> <%= series[i].description %><br /><br />
					</div></div><%

				}
			%>
		</div>


	</body>
</html>