<html>
	<head>
	<meta charset="utf-8" /> 
	

		<title>User anlegen</title>
			<link href='http://fonts.googleapis.com/css?family=Raleway:400,900,800,700,600,500,300,200,100' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="/css/style.css">
		
		<script src="http://code.jquery.com/jquery-1.11.2.min.js"></script>
		<script type="text/javascript">
		$(function() {
			var frm = $('#userReg');
			frm.on('submit', function(ev){
				//var frmdata = {"name":"test"};
				var frmdata = { "name": $('#userRegName').val() };
				console.log(frmdata);
				$.ajax({
				type: 'POST',
				url: '/postuser',
				data: frmdata,
				//contentType: 'application/json',
				success: function(frmdata) {
					console.log(frmdata);
				},
				error: function(xhr, options, e) {
    			console.log(e);
				}
				}).done(function(){
				alert(data.name+' wurde hinzugefuegt.');
				}).fail(function(e){
				
				alert(data.name+' konnte nicht hinzugefuegt werden. ('+JSON.stringify(e)+')');
				});
				ev.preventDefault();
			});

			});
		</script>
	</head>
	<body>
		<h1>User anlegen</h1>
		<div>
		
					<div class="seriesbox">
					
					<div class="description">
					
					<form name="userReg" action="/test" method="post" id="userReg">
						Username:     <input type="text" size="40" id="userRegName" name="name">
 					<input type="submit" value="Anlegen">


					</form>


					</div></div>

		</div>


	</body>
</html>