<html>
	<head>
	<meta charset="utf-8" /> 
	

		<title>User anlegen</title>
			<link href='http://fonts.googleapis.com/css?family=Raleway:400,900,800,700,600,500,300,200,100' rel='stylesheet' type='text/css'>

		    <link href="/dist/css/bootstrap.min.css" rel="stylesheet">
    		<!-- Bootstrap-Theme -->
   		<link href="/dist/css/bootstrap-theme.min.css" rel="stylesheet">
		<link rel="stylesheet" href="/css/style.css">
		
		<script src="http://code.jquery.com/jquery-1.11.2.min.js"></script>
		<script type="text/javascript">
		$(function() {
			var frm = $('#userReg');
			frm.on('submit', function(ev){
				//var frmdata = {"name":"test"};
				var frmdata = { "name": $('#userRegName').val() };
				$.ajax({
				type: 'POST',
				url: '/postuser',
				data: frmdata,
				//contentType: 'application/json',
				success: function(frmdata) {
					
				},
				error: function(xhr, options, e) {
    			console.log(e);
				}
				}).done(function(){
				alert(data.name+' wurde hinzugefuegt.');
				}).fail(function(e){
				
				alert(data.name+' konnte nicht hinzugefuegt werden. ('+JSON.stringify(e)+')');
				});
				$(function () {
			  	$('#userRegName').val("Du hast dich erfolgreich registriert.");
			  	$('#userRegName').attr('readonly', true);
			  	 $('#userRegBtn').hide();
			  	 $('#userRegLabel').hide();
				});
				ev.preventDefault();
			});

			});
		</script>

		

	</head>
	<body>
				 <!-- Fixierte Navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Navigation ein-/ausblenden</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/index"><strong>viromark</strong></a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
      
        </div><!--/.nav-collapse -->
      </div>
    </nav>


		<h1>User anlegen</h1>
		<div>
		
					<div class="seriesbox">
					
					<div class="description">
					
					<form name="userReg" action="/" method="post" id="userReg">
						<span id="userRegLabel">Username:</span>     <input type="text" size="40" id="userRegName" name="n">
 					<input type="submit" id="userRegBtn" value="Anlegen">


					</form>


					</div></div>



					<div class="seriesbox">
					
					<div class="description">
					
					<form name="userLogin" action="/" method="post" id="userLogin">
						Username:     
						<!--<input type="text" size="40" id="userLoginName" name="name">-->

						<select >
							<%
				for(var i=0; i < user.length; i++) {
					%>
								
  						<option>	
  							<span id="userid" style="visibility:hidden"><%= user[i].id %></span>
  							<span id="userLoginName"><%=  user[i].name %></span></option>
  						<%

				}
			%>
						</select>
 					<input type="submit" value="Login">


					</form>

					<script type="text/javascript">
		$(function() {
			var ufrm = $('#userLogin');
			ufrm.on('submit', function(event){
				//var frmdata = {"name":"test"};
				var ufrmdata = { 
					"id": $('#userid').text(),
					"name": $('#userLoginName').val() };
				$.ajax({
				type: 'POST',
				url: '/userlogin',
				data: ufrmdata,
				success: function(frmdata) {
					
				},
				error: function(xhr, options, e) {
    			console.log(e);
				}
				}).done(function(){
				alert(data.name+' wurde hinzugefuegt.');
				}).fail(function(e){
				
				alert(data.name+' konnte nicht hinzugefuegt werden. ('+JSON.stringify(e)+')');
				});
			
				event.preventDefault();
			});

			});
		</script>
			<!--	<script type="text/javascript">
				$("#userLogin").on('submit', function(event){
   				 event.preventDefault();
					});
				</script>-->

					</div></div>

		</div>


	</body>
</html>