<html>
	<head>
	<meta charset="utf-8" /> 

		<title>Alle Serien</title>
			<link href='http://fonts.googleapis.com/css?family=Raleway:400,900,800,700,600,500,300,200,100' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="/css/style.css">
	</head>
	<body>
		<h1>Alle Serien</h1>
		<div>
					<%
				for(var i=0; i < watchedseries.length; i++) {
					%>
					<div class="seriesbox">
					
					<div class="description">
					<h3><a href="../../allseries/<%= watchedseries[i].seriesid %>">Bla</a></h3>
					<p><%= series[0].name %></p>
					</div></div><%

				}
			%>
		</div>


	</body>
</html>